<configuration>
  <appSettings>
    <add key="BaseUrl" value="http://*:8080"/>
    <add key="AWSProfileName" value="dynamo-db-write"/>
    <add key="LocalDynamoDbUrl" value="http://{DOCKER_HOST_IP}:7000"/>
    <add key="serilog:minimum-level" value="Debug"/>
    <add key="serilog:write-to:ColoredConsole"/>
  </appSettings>
</configuration>
