<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="serilog:minimum-level" value="Debug"/>
    <add key="serilog:write-to:ColoredConsole"/>
    <add key="BaseUrl" value="http://*:8080"/>
    <add key="AuthServiceUrl" value="http://auth:8080"/>
    <add key="CommsServiceUrl" value="http://comms:8080"/>
    <add key="SessionsServiceUrl" value="http://sessions:8080"/>
    <add key="PublishServiceUrl" value="http://publish:8080"/>
  </appSettings>
</configuration>
