  <appSettings>
    <add key="AWSAccessKey" value="{AWSAccessKey}" />
    <add key="AWSSecretKey" value="{AWSSecretKey}" />
    <add key="googleClientId" value="{googleClientId}" />
    <add key="googleClientSecret" value="{googleClientSecret}" />
    <add key="certificateFile" value="/{certFileName}.pfx" />
    <add key="certificatePassword" value="{certPassword}" />
  </appSettings>
